.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-gallery {
  flex-basis: calc(60% - 15px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .product-gallery {
    flex-basis: 100%;
    margin-bottom: 15px;
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 600px) {
  .product-gallery {
    flex-wrap: wrap-reverse;
  }
}

.produto-gallery-main {
  flex-basis: calc(80% - 10px);
}

@media (max-width: 600px) {
  .produto-gallery-main {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .produto-gallery-main img {
    margin: 0 auto;
    width: 100%;
  }
}

.product-gallery-list {
  flex-basis: calc(20% - 10px);
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
}

.product-gallery-list img {
  margin-bottom: 20px;
  cursor: pointer;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

@media (max-width: 600px) {
  .product-gallery-list {
    flex-basis: 100%;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .product-gallery-list img {
    margin-right: 20px;
  }
}

.product-detail {
  flex-basis: calc(40% - 15px);
}

@media (max-width: 800px) {
  .product-detail {
    flex-basis: 100%;
  }
}

.product-detail small {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product-detail h1 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 40px;
  color: var(--cor-5);
}

.product-detail .product-price {
  margin-bottom: 20px;
  font-weight: bold;
}

@media (max-width: 800px) {
  .product-detail h1 {
    margin-bottom: 20px;
  }
}

.product-detail .button {
  background: var(--cor-5);
  color: #fff;
  padding: 12px 15px;
  min-width: 200px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-detail .button::after {
  content: "";
  display: block;
  background: url("../img/icons/add.svg") no-repeat center center;
  width: 16px;
  height: 16px;
  transition: 0.3s;
}

.product-detail .button:hover::after {
  transform: rotate(180deg);
}

.product-detail .button.disabled {
  opacity: 0.5;
  cursor: initial;
}

.product-detail .variations tr {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
}

.product-detail select {
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid var(--cor-5);
  border-radius: 4px;
  padding: 3px;
  width: 100%;
  font-family: inherit;
  margin-top: 5px;
}

.product-detail .reset_variations {
  display: none !important;
}

.product-detail .stock {
  margin-bottom: 10px;
}

.product-detail .quantity {
  display: none !important;
}

.product-description {
  margin-top: 30px;
}

.product-detail h2,
.product-description h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--cor-5);
}

.product-detail p,
.product-description p,
.product-description ul,
.product-description li {
  font-size: 1rem;
  font-weight: normal;
  color: var(--cor-1);
  line-height: 1.75rem;
}

.notificacao {
  margin: 20px auto;
}
